

services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    ports:
      - "8080:8080"
    env_file:
      - .env_encoded # Load the base64 encoded secrets
    command: server standalone
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          server:
            basic-auth:
              enabled: false
          queue:
            type: memory
          repository:
            type: memory
          storage:
            type: local
            local:
              base-path: /tmp/kestra
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    restart: unless-stopped
